[submodule "source/Lib/AosLib"]
	path = source/Lib/AosLib
	url = https://github.com/Galac-Software/AosLib.git
	branch = release/v5.14.0.0
[submodule "bin/binLibAos"]
	path = bin/binLibAos
	url = https://github.com/Galac-Software/BinLibAos.git
	branch = release/v5.14.0.0
[submodule "bin/binLibNet"]
	path = bin/binLibNet
	url = https://github.com/Galac-Software/BinLibNet.git
	branch = release/v5.14.0.0
[submodule "bin/binLibProtec"]
	path = bin/binLibProtec
	url = https://github.com/Galac-Software/BinLibProtec.git
	branch = release/v18.2.2.0
[submodule "bin/binLibVb"]
	path = bin/binLibVb
	url = https://github.com/Galac-Software/BinLibVb.git
	branch = release/V2201
[submodule "bin/binEsqNiif"]
	path = bin/binEsqNiif
	url = https://github.com/Galac-Software/BinEsqNiif.git
	branch = release/SawV24.0.0.0
[submodule "source/Axi"]
	path = source/Axi
	url = https://github.com/Galac-Software/Axi.git
	branch = master
