[submodule "source/Lib/AosLib"]
	path = source/Lib/AosLib
	url = https://github.com/Galac-Software/AosLib.git
	branch = release/v5.14.0.0
[submodule "source/Lib/VbaLib"]
	path = source/Lib/VbaLib
	url = https://github.com/Galac-Software/vbaLib.git
	branch = release/V2104
[submodule "bin/binLibAos"]
	path = bin/binLibAos
	url = https://github.com/Galac-Software/BinLibAos.git
	branch = release/v5.14.0.0
[submodule "bin/binLibNet"]
	path = bin/binLibNet
	url = https://github.com/Galac-Software/BinLibNet.git
	branch = release/v5.14.0.0
[submodule "bin/binLibProtec"]
	path = bin/binLibProtec
	url = https://github.com/Galac-Software/BinLibProtec.git
	branch = release/v18.2.2.0
[submodule "source/Axi"]
	path = source/Axi
	url = https://github.com/Galac-Software/Axi.git
	branch = master
[submodule "bin/binLibVb"]
	path = bin/binLibVb
	url = https://github.com/Galac-Software/BinLibVb.git
	branch = release/V2201
[submodule "bin/binAdministrativoAos"]
	path = bin/binAdministrativoAos
	url = https://github.com/Galac-Software/BinAdministrativoAos.git
	branch = release/V23.9.0.0
[submodule "bin/binAdministrativoVb"]
	path = bin/binAdministrativoVb
	url = https://github.com/Galac-Software/BinAdministrativoVB.git
	branch = release/V2306
[submodule "bin/binComunAos"]
	path = bin/binComunAos
	url = https://github.com/Galac-Software/BinComunAos.git
	branch = release/SawV23.9.0.0
[submodule "bin/binContabilidadAos"]
	path = bin/binContabilidadAos
	url = https://github.com/Galac-Software/BinContabilidadAos.git
	branch = release/SawV23.9.0.0
[submodule "bin/binContabilidadVb"]
	path = bin/binContabilidadVb
	url = https://github.com/Galac-Software/BinContabilidadVb.git
	branch = release/SawV23.9.0.0
[submodule "bin/binEsqNiif"]
	path = bin/binEsqNiif
	url = https://github.com/Galac-Software/BinEsqNiif.git
	branch = release/SawV23.9.0.0
[submodule "source/ContabilidadVb"]
	path = source/ContabilidadVb
	url = https://github.com/Galac-Software/ContabilidadVb.git
	branch = release/SawV23.9.0.0
[submodule "source/ContabIwrp"]
	path = source/ContabIwrp
	url = https://github.com/Galac-Software/ContabiWrp.git
	branch = release/SawV23.9.0.0
[submodule "source/IvaVb"]
	path = source/IvaVb
	url = https://github.com/Galac-Software/IvaVb.git
	branch = release/SawV23.9.0.0
[submodule "source/RetencionesVb"]
	path = source/RetencionesVb
	url = https://github.com/Galac-Software/RetencionesVb.git
	branch = release/SawV23.9.0.0
[submodule "source/VbaComun"]
	path = source/VbaComun
	url = https://github.com/Galac-Software/vbaComun.git
	branch = feature/SawIncorporarMejorasLibrosDeVenta_IGTF_ED
