<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGalac.Aos.Base" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Brl" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Catching" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cib" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cnf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal.PASOnLine" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal.Settings" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.DefGen" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Mvvm" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Wpf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfControls" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfMainInterop" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfRD" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.Usal" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Vbwa" version="5.24.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
</packages>