<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Galac.Comun.Brl.TablasGen" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Comun.Ccl.TablasGen" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Comun.Uil.TablasGen" version="2.61.0" targetFramework="net40" />
  <package id="LibGalac.Aos.ARRpt" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Aos.Base" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Brl" version="5.24.2.2" targetFramework="net40" />
  <package id="LibGalac.Aos.Catching" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cnf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.DefGen" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Mvvm" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Wpf" version="5.24.0" targetFramework="net40" />
</packages>