<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dcrm00:20002/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="CRMServiceReference.IService1"
                name="BasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>