<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Galac.Axi.Ccl.Balances" version="2.64.0" targetFramework="net40" />
  <package id="Galac.Axi.Uil.Balances" version="2.64.0" targetFramework="net40" />
  <package id="Galac.Contab.Brl.Tablas" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Brl.WinCont" version="2.61.3" targetFramework="net40" />
  <package id="Galac.Contab.Ccl.Tablas" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Ccl.WinCont" version="2.61.3" targetFramework="net40" />
  <package id="Galac.Contab.TablasVbSinMigrar" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Uil.Tablas" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Uil.WinCont" version="2.61.3" targetFramework="net40" />
  <package id="LibGalac" version="5.24.3.8" targetFramework="net40" />
  <package id="LibGalac.Aos.Base" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Brl" version="5.24.2.3" targetFramework="net40" />
  <package id="LibGalac.Aos.Catching" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cib" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cnf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Aos.DefGen" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Wpf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfControls" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfRD" version="5.24.2.1" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil" version="5.24.2.4" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.Usal" version="5.24.2.5" targetFramework="net40" />
  <package id="LibGalac.Aos.Vbwa" version="5.24.1" targetFramework="net40" />
  <package id="LibGalac.Cswa" version="5.14.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" />
</packages>