<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="PAIS" value="VE" />       
  <add key="PARAMETRO" value="CREARBD:30/09/19; ACTUALIZARBDDSQLSERVER:07/06/23;" />
  <add key="ESPECIAL" value="NORESPALDAR" />
  <add key="DIRECCIONURL" value="https://demoemision.thefactoryhka.com.ve" />
  <add key="USUARIO" value="ohfbkeokjovq_tfhka" />
  <add key="CAMPOUSUARIO" value="usuario" />
  <add key="CLAVE" value="bPPKKP+--*&amp;G" />
  <add key="CAMPOCLAVE" value="clave" />
  </appSettings>
  <connectionStrings>
    <add name="Datos" connectionString="Data Source=.\GALACSQLX19;Initial Catalog=SAWDB_BESTPLAY;Integrated Security = true" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>