<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="UNIDADLOGICASERVIDOR" value="C:\Program Files (x86)\Galac\Saw" />
  <add key="FORMATODEFECHAENELSERVIDOR" value="dd/MM/yyyy" />
  <add key="PAIS" value="VE" />
  <add key="ASKFORSAVEINFO" value="No" />
  <add key="SECURITYMODE" value="SQL" />
  <add key="PARAMETRO" value="CREARBD:30/09/19; ACTUALIZARBDDSQLSERVER:17/02/21;" />
  <add key="ESPECIAL" value="NORESPALDAR" />
  <add key="CAJALOCAL" value="2" />
</appSettings>
  <connectionStrings>
    <add name="Datos" connectionString="Data Source=.\GALACSQLDEV17;Initial Catalog=SAWDB_RepresentacionesACA;Integrated Security = true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
