<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="PAIS" value="VE" />       
  <add key="PARAMETRO" value="CREARBD:30/09/19; ACTUALIZARBDDSQLSERVER:12/07/21;" />
  <add key="ESPECIAL" value="NORESPALDAR" />
</appSettings>
  <connectionStrings>
    <add name="Datos" connectionString="Data Source=.\GALACSQLDEV17;Initial Catalog=SAWBD_8Empresas;Integrated Security = true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>