<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Galac.Comun.Brl.TablasGen" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Comun.Ccl.TablasLey" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Ccl.Tablas" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.Ccl.WinCont" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Contab.SLev" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Ent.Brl.Empresarial" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Ent.Ccl.Empresarial" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Ent.Dal.Empresarial" version="2.61.0" targetFramework="net40" />
  <package id="Galac.Ent.Uil.Empresarial" version="2.61.0" targetFramework="net40" />
  <package id="LibGalac.Aos.ARRpt" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Base" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Brl" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Brl.PrnStt" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Catching" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cib" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Cnf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Compression" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Dal.Usal" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.DefGen" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Cib" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Mvvm" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.Wpf" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfBN" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfControls" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfMainInterop" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.UI.WpfRD" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.PASOnLine" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.PrnStt" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.Settings" version="5.24.0" targetFramework="net40" />
  <package id="LibGalac.Aos.Uil.Usal" version="5.24.0" targetFramework="net40" />
</packages>